<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
  <% end %>
<ul>
<% end %>

<h1 style='margin-top:100px;font-size:2rem'>So you wanna makea newa Pizza eh?</h1>

<%= form_for @pizza do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :ingredients %>
<%= f.text_field :ingredients %>
<%= f.collection_select :restaurant_id, @restaurants, :id, :name %>
<%= f.submit %>
<% end %>
