<h1> Create A New Pizza</h1>

<%= form_for @pizza do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :ingredients %>
<%= f.text_field :ingredients %>
<%= f.label :restaurant_id %>
<%= f.number_field :restaurant %>
<%= f.submit "Add" %>


<% end %>
