<h1>Make A Pizza </h1>
<%= form_for @pizza do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<br> 
<%= f.label :ingredients, "Ingredients" %>
<%= f.text_field :ingredients %>

<!-- <%= f.submit %> -->

<%=collection_select(:restaurant, :restaurant_id, Restaurant.all, :id, %>




<!-- 

5. As a visitor to the website, I should be able to 
create a new pizza with its name, ingredients, and add it 
to an existing restaurant.   --> 
